<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Page Not Found</title>
    <link href="css/site.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  </head>

  <body>
    <div class="container">
      <header>
        <ul>
          <div class="center"></div>
          <li>
              <img class="logo" src="img/logo.png" alt="logo" />
            </li>
            <li><a href="/">Home</a></li>
            </div>   
        </ul>
      </header>
      <main>
        <img
          id="sadFaceImg"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS60WgVCW5tozK2IBqC6Ty9tQG3n3ho7unZ4w&usqp=CAU"
          alt="sad face"
        />
        <h1>404</h1>
        <h2>Page not found</h2>
        <h2>How about you cry me a river, build a bridge, and get over it.</h2>

      </main>
    </div>
    <footer>KingUni Wiki &copy; 2021</footer>

  </body>

</html>